/* for medium devices (tablet) */
@media screen and (max-width:768px){
    .image img{
        border-radius: 50%;
        width: 380px;
    }
    .content h1, h2{
        max-width: 250px;
        margin: 0 auto;
    }
    .about-img img{
        width: 300px;
    }
    .about-content p{
        max-width: 400px;
    }
    .skill-content p, ul{
        max-width: 400px;
    }
}
/* for small devices */
@media (max-width:576px) {

    .about-content p{
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }
    .about-img img{
        max-width: 250px;
    }
    .content{
        max-width: 100px;
    }
}