/* for large devices*/
@media  (max-width:900px){
    .image img{
        width: 300px;
    }
    .about-img img {
        width:350px;
    }
}

/* for medium devices (tablet) */
@media (max-width:768px){
    .image img{
        border-radius: 50%;
        width: 300px;
    }
    .content h1, h2{
        max-width: 250px;
        margin: 0 auto;
    }
    .about {
        flex-direction: column;
    }
    .about-img img{
        width: 300px;
    }
    }
/* for small devices */
@media (max-width:576px) {
    .logo{
        font-size: 16px;
        display: none;
    }
    .navbar{
        display:flex;
        margin-left:-15px;
    }
    .navbar a{
        font-size: 16px;
    }
    .home{
        flex-direction: column-reverse;
        text-align: center;
    }
    .content h2{
        font-size: 16px;
    }
    .image img{
        border-radius: 50%;
        width: 200px;
    }
    .about {
        flex-direction: column;
        text-align: center;
    }
    .about h2{
        text-align: center;
    }

    .about-img img{
        max-width: 200px;
    }
    .skill-content ul, li{
        flex-direction: column;
    }
    .project-images{
        flex-direction: column;
    }
    .contact form{
        width: 250px;
        margin: 0 auto;
    }
}

/* for smaller devices */
@media(max-width:386px){
.navbar{
    display:flex;
}
.navbar a{
    font-size: 13px;
}

.about-content p {
    letter-spacing: 0px;
}
.skill-content ul, li{
    flex-direction: column;
}
}