*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration:none;
}
body{
    background-color: white;
    /* overflow-x: hidden; */
}
/* header */
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.85);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 500px;
    transition: 0.3s ease;
}
.logo:hover{
    color:dodgerblue;
    text-shadow: 0 0 25px dodgerblue;
    transform: scale(1.1);
}
span{
    color: dodgerblue;
}
.navbar a{
    font-size: 16px;
    color: white;
    margin: 0px 15px;
    transition: 0.3s;
}
.navbar a:hover {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
}
/* Home Section */
.home{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 25px 35px;
    margin-top: 60px;
}
.content {
    margin:0 30px;
}
.content p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.content h1{
    margin: 15px 0px;
    font-size: 30px;
}
.content h2{
    font-size: 25px;
}
.image img{
    border-radius: 50%;
    width: 500px;
}
/* About Section */
.about {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px 25px;
    gap: 30px;
    width: 100%;
    background-color:black;
}
.about-img img{
    position: relative;
    border-radius: 50%;
    width: 500px;
    box-shadow: 0 0 25px dodgerblue;
    margin-left: 15px;
}
.about-content{
    color:white;
    margin: 0px 30px;
}
.about-content h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
}
.about-content p {
    font-size: 19px;
    line-height:1.5;
    letter-spacing: 1px;
    margin: 7px 0px 3px;
    margin-bottom: 20px;
}
.about-content a{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}
.about-content a:hover{
    background-color: white;
    color: black;
}
/* Skills Section */
.skills {
    width: 100%;
    margin:0px 35px;
    padding: 20px;
}
.skill-content h2 {
    text-align: center;
    font-size: 30px;
}
.skill-content p{
    font-size: 20px;
    font-weight: 800;
    margin:10px 0px  20px;
    text-align: left;
}
.skill-content ul{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    font-size:17px;
}
.skill-content h3{
    margin: 20px 0px;
}
.skill-level {
    color: #4CAF50;
    font-weight: bold;
    margin-left: 10px;
}


/* Project section */
.project {
    max-width:100%;
    padding: 15px;
    margin: 10px 15px;

}
.project h2 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
}
.project-images{
    background-color:rgb(236, 229, 221);
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 0px 15px;
    margin-bottom:30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.project-image img{
    width:80%;
    height: 200px;
    margin-left: 30px;
    object-position: cover;
    object-fit: contain;
}
.project-images p{
    text-align: center;
    margin: 0px 70px 20px 70px;
    background-color: black;
    padding: 5px 12px;
    border-radius: 10px;
}
.project-images p a{
    color: white;
    font-weight: 500;
}

/* Contact Section */
.contact{
    width: 100%;
    color:white;
    background-color: black;
    margin-top: 30px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2{
    text-align: center;
    font-size:30px;
    margin-top:10px;
    margin-bottom:15px;
}
.contact .input-box {
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}
.contact form {
    width: 400px;
}
.contact form label {
    font-size: 18px;
}
.contact form input,
.contact form textarea {
    padding: 15px 17px;
    border-radius: 4px;
}
.contact .button {
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
.contact .button:hover {
    background-color: white;
    color: black;
}
/* Footer section */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: white;
}
.footer .socials{
    text-align: center;
    padding-bottom: 20px;
}
.footer .socials a{
    /* border: 2px solid turquoise; */
    margin: 0 8px;
    /* line-height: 38px; */
    text-align: center;
}
.footer .list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 0 12px;
}
.footer .list a{
    color: black;
    font-weight: 700;
    font-size: 13px;
}
.footer .list a:hover {
    color: dodgerblue;
    text-decoration: underline;
}
.socials h3{
    margin:20px 20px 0px 20px;
}
.footer .copyright{
    color:dodgerblue;
    text-align: center;
    padding: 12px;
    font-size: 17px;
    font-weight: 900;
}